<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <br class="clear" />

    <p>
    	Splurty was built by <a target="_blank" href="http://facebook.com/biggifraley">Biggi Fraley</a>, a software engineer living in San Francisco, who was born and raised in Berlin, Germany.
  	</p>
  	<br />
 	 <p>
    	Biggi loves creating websites and applications that are fun and sometimes even useful.
  	</p>
  	<br />
  	<p>
    	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  	</p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'biggi.png', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Biggi Fraley</h2>
    <br />
    <p>
      	Biggi Fraley is a web developer and online marketing specialist. Since 2012, Biggi has been publishing an iPad magazine for women called "Finally over 40," to help motivate and inspire women entering the second third of their life. You can learn more by going to <a target="_blank" href="http://finallyover40.com/">FinallyOver40.com</a>.
    </p>
    <p>
    	When Biggi doesn't sit behind the keyboard, she enjoys learning and teaching about health and fitness. She is a nationally and internationally certified personal trainer, massage therapist, and health coach, and was a competitive bodybuilder in a previous life.
    <p/>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />
</div>